#Introduction {
  background-color: lightgrey;
  text-align: center;
  border-style: double;
  border-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-img-top {
  width: 256px !important;
  display: block;
  margin: auto;
}

#mySkills {
  border-style: double;
  border-color: black;

}

#MySocials {
  border-style: double;
  border-color: black;
}

#form {
  padding-left: 200px;
  border-style: double;
  border-color: black;
}


#aboutMe a {
  color: black;
  text-decoration: none;
}

#aboutMe {
  display: inline;

}

#AboutMe {
  text-align: center;
}

#skillsUl li {
  margin-bottom: 10px;

}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: black;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#button {
  border: solid;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

#text {
  border: solid;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}

#mail {
  border: solid;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
}

#form {
  padding-left: 500px;
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

#personal-image {
  background-image: url("unnamed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 246px;
  height: 246px;
  border-radius: 50% !important;
  display: block;
  margin: 0 auto;
}

.card-img-top {
  display: block;
  margin: auto;
  padding: 30px 30px;
}

.text-uppercase-mb-4-font-weight-bold {
  color: black !important;
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}